
@{
    ViewBag.Title = "TheReviews";
    int indexx = 1;
}

<h2>@ViewBag.Title</h2>

<p>

</p>


@foreach (var item in @Model) {
    if((indexx % 3) == 0){
        @Html.Partial("_businessReview", (MvcApplication1.Models.Review)item,new ViewDataDictionary(ViewData) {{"Parent", "True"}});
    }else
    {
        @Html.Partial("_businessReview", item as MvcApplication1.Models.Review, new ViewDataDictionary(ViewData) { { "Parent", "False" } });
    }

    indexx++;
}
