
@{
    ViewBag.Title = "TheReviews";
}

<h2>@ViewBag.Title</h2>

<p>

</p>


@foreach (var item in @Model) {
    @Html.Partial("_businessReview", (MvcApplication1.Models.Review)item,new ViewDataDictionary(ViewData) {{"Parent", "True"}});
    @Html.Partial("_businessReview", (MvcApplication1.Models.Review)item, new ViewDataDictionary(ViewData) { { "Parent", "False" }});

}
